# Version Control & Editor Config
.git
.gitignore
.vscode
.idea
*.md
LICENSE

# Dependencies (Local)
node_modules
npm-debug.log
yarn-error.log
build
dist
out
.gradle
gradle

# System Files
.DS_Store
Thumbs.db

# Security
.env
.env.*
*.pem
*.key
secrets.yml

# Agent & Tools
.agent
