server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/user/**
        - id: wiki-service
          uri: lb://wiki-service
          predicates:
            - Path=/api/wiki/**
      
management:
  endpoints:
    web:
      exposure:
        include: health, info, gateway
